body {
    background: #21282b;
    font-family:'Courier New', monospace;
}

#fade-out-button {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.svg-container {
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 100%;
}

.tbl {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-list-button, .remove-single-node, .remove-all-nodes {
    border: 1px solid;
    border-color: #c6e2e9;
    color: #c6e2e9;
    background: none;
    text-align: center;
    /* justify-content: center; */
    font: inherit;
    font-size: 15px;
    display: inline-block;
    margin: 4px 2px;
    height: 40px;
    width: 200px;
    border-radius: 5%;
    position: relative;
    transition: 0.4s ease;
    z-index: 1;
    overflow: hidden;

}

.buttons-div {
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.new-list-button:after, .remove-single-node:after, .remove-all-nodes:after{
    background: #c6e2e9;
    color: black;
    transition: 0.3s ease;
    content: '';
    position: absolute;
    z-index: -1;
}

.button {
    border: 2px solid;
    border-color: #c6e2e9;
    color: #c6e2e9;
    background: none;
    padding: 20px;
    text-align: center;
    font: inherit;
    font-size: 25px;
    display: inline-block;
    margin: 4px 2px;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    position: inherit;
    text-decoration: none;
    transition: 0.4s ease;
    z-index: 1;
    overflow: hidden;
}

.button:after {
    background: #c6e2e9;
    color: black;
    transition: 0.3s ease;
    content: '';
    position: absolute;
    z-index: -1;
}

.fade:hover {
    background: #c6e2e9;
    color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

